/* Large desktops and laptops */
@media (min-width: 1200px) {
	#subpage-content-wrapper .awc-diff .col-md-2{
 		width: 20%;
 	}


}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.banner-nav .list-inline > li > a{
		font-size: 12px;
	}
	
	#subpage-content-wrapper .awc-diff .col-md-2{
 		width: 20%;
 	}

 	#subpage-content-wrapper .thumbnail .caption p{
 		font-size: 12px;
 	}

 	#subpage-content-wrapper .thumbnail h3{
 		font-size: 14px;
 	}

 	#subpage-content-wrapper .thumbnail h5{
 		bottom: 5%;
 	}
	
	#awc-techref .thumbnail .caption{
		padding-left: 10px;
		padding-right:10px;
	}
	
	#awc-techref .thumbnail .caption p{
		font-size: 13px;
	}
	
	#awc-techref ul li a{
		font-size: 13px;
	}



}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	#subpage-content-wrapper{

		font-size: 20px;
	}

	#subpage-content-wrapper .awc-diff .col-md-2{
 		width: 20%;
 	}

 	#subpage-content-wrapper .thumbnail h3{
 		font-size: 14px;
 	}

 	#subpage-content-wrapper .thumbnail .caption p{
 		font-size: 11px; 
 	}

 	#subpage-content-wrapper .thumbnail h5{
 		width: 100%;
 		left: 0;
 		bottom: 0;
 	}

 	.navbar-nav > li > a{
		font-size: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.banner-nav .list-inline > li{
		padding-right: 18px;
	}

	.banner-nav .list-inline > li > a{
		font-size: 9px;
	}
	
	#awc-techref .thumb-holder h3{
		padding: 15px 0;
		font-size: 20px;
	}
	
	#awc-techref .thumbnail .caption h3{
		font-size: 18px;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	#topbar .signin-register{

		float: none !important;
	}
	
	.banner-nav .container{
		padding-left: 15px;
	}
	
	.banner-nav .navbar-collapse{
		padding-left:20px;
	}

	.banner-nav .navbar{ 
		z-index: 1000; 
	}

	.banner-nav .navbar-collapse{ 
		background-color: #fff;
		border:0;	
	}

	.banner-nav .navbar-collapse .navbar-nav > li > a{
		color: #1D1D1B;
	}

	.banner-nav .navbar-collapse .navbar-nav > li > a:hover{
		color: #1D1D1B;
		text-decoration: underline;
	}
	
	#subpage-content-wrapper #awc-techref .thumbnail .caption{
		min-height: 1px;
	}
	
	#awc-techref .thumb-holder h3{
		font-size: 22px;
		padding: 20px 0;
	}
	
	#awc-techref .thumbnail .caption h3{
		font-size: 18px;
	}

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

	#topbar .signin-register{
		float: none !important;
	}

	.banner-nav .navbar{ 
		z-index: 1000; 
	}

	.banner-nav .navbar-collapse{ 
		background-color: #fff;
		border:0;	
	}

	.banner-nav .navbar-collapse .navbar-nav > li > a{
		color: #1D1D1B;
	}

	.banner-nav .navbar-collapse .navbar-nav > li > a:hover{
		color: #1D1D1B;
		text-decoration: underline;
	}

	#subpage-content-wrapper{
		font-size: 16px;
	}

	.banner-caption{
		left:0;
		right: 0;
		z-index: 0;
	}

	.banner-caption h1{

		font-size: 40px;
	}

	#subpage-content-wrapper .thumbnail h3{
 		font-size: 14px;
 	}

 	#subpage-content-wrapper .thumbnail h3{

 		margin-top: 10px;
 	}

 	#subpage-content-wrapper .thumbnail .caption p{
 		font-size: 12px;
 	}

 	#subpage-content-wrapper .thumbnail h5{
 		width: 90%;
		left: 5%;
		right: 5%; 		
 		bottom: 5%;
 	}
	
	#awc-techref .thumb-holder h3{
		font-size: 18px;
	}
	
	#awc-techref .thumbnail .caption h3{
		font-size: 18px;
	}
	
	#awc-techref .thumbnail .caption{
		min-height: 1px;
	}
	
	
}