@media (min-width: 768px) and (max-width: 979px) {
	#menu {
		display: none;	
	}
	
	#mobile-nav {
    	display: block;
		float: right;
	}
	
	#menu-nav-mobile {
		margin: 0;
	}
	
	header .sticky-nav #mobile-nav,
	header .sticky-nav.stuck #mobile-nav {
		margin-right: 20px;	
	}
	
	#social-area #social ul li {
		margin-left: 15px;
	}
	
	#social-area #social ul li a {
		width: 50px;
		height: 50px;
	}
	
	#social-area #social ul li a span {
		font-size: 24px;
		line-height: 50px;
	}
	
	#twitter-feed {
		padding-top: 110px;
		padding-bottom: 110px;	
	}
	
	.info-block a.button {
    	margin-top: 20px;
    	position: inherit;
	}
	
	.info-text {
		padding-right: 0;	
	}
	
	.bootstrap-select{ width: 100%; }
	
	#setting-wrapper section .span3{ margin-left: 30px; }
	
	#pos-accordion .accordion-inner .span3{ margin-left: 30px; }
	
	.delivery_takeout_btn_wrapper .ui-button{ width: 44%; height: auto; }
	.delivery_takeout_btn_wrapper .ui-button img{ max-width: 100%; }
}

@media (min-width: 481px) and (max-width: 767px) { 
	#delivery-location .span4{
		width: 100%;
	}
	
	#delivery-location .span1{ width: 100%; }
	#deldestination li{ margin:20px 0; display:inline-block; }
		
	#back-to-top {
		display: none !important;	
	}
	
	#home-slider {
		margin-left: -20px;
		margin-right: -20px;
	}
	
	header .sticky-nav,
	header .sticky-nav.stuck {
		position: relative;	
	}
	
	#home-slider .container .row {
		width: 100%;	
	}
	
	#home-slider #slidecaption {
		font-size: 42px;	
	}
	
	header .sticky-nav,
	#navigation-mobile,
	.page,
	.page-alternate,
	.map,
	#twitter-feed,
	footer {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;	
	}
	
	header .sticky-nav #logo {
		margin-left: 0;
	}
	
	header .sticky-nav #menu {
		margin-right: 0;
	}
	
	header .sticky-nav.stuck #menu {
		margin-right: 20px;	
	}
	
	#menu {
		display: none;	
	}
	
	#mobile-nav {
    	display: block;
		float: right;
	}
	
	#menu-nav-mobile {
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 0;
	}
	
	.work-nav {
		margin-bottom: 30px;	
	}
	
	.type-work {
		background: url(../img/filter-icon.png) no-repeat;
		width: 16px;
		height: 16px;
		display: inline-block;
		text-indent: -9999px;
		margin-bottom: 0;
		position: relative;
		line-height: 10px;
	}
	
	.work-nav #filters,
	.work-nav #filters li {
		display: inline-block;
	}
	
	.work-nav #filters li {
		margin:0 10px 0 0;	
	}
	
	#about .profile {
		margin-bottom: 30px;	
	}
	
	#about .profile:last-child {
		margin-bottom: 0;	
	}
	
	#response {
		margin-bottom: 30px;	
	}
	
	.contact-details {
		border-top: 1px dashed #3C3F45;
		padding-top: 30px;
		text-align: center;	
	}
	
	#contact-form .submit,
	#comment-form .submit {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
	}
	
	#social-area #social ul li:first-child,
	#social-area #social ul li {
		margin: 15px;
	}
	
	#social-area #social ul li a {
		width: 50px;
		height: 50px;
	}
	
	#social-area #social ul li a span {
		font-size: 24px;
		line-height: 50px;
	}
	
	#twitter-feed {
		padding-top: 90px;
		padding-bottom: 100px;	
	}
	
	#ticker .tweet_list li {
		font-size: 16px;
		line-height: 24px;
	}
	
	#ticker .tweet_list .tweet_time a {
		font-size: 13px;
		margin-left: 5px;	
	}
	
	.info-block a.button {
    	margin-top: 20px;
    	position: inherit;
		display: block;
	}
	
	.info-text {
		padding-right: 0;	
	}
	
	#ref-thumbs-wrapper .thumbnails > li{ 
		float: left; 
		margin-left:20px; 
	}
	
	#items-thumbs-wrapper > .thumbnails > li{ float: left; margin-left: 12px; }
	
	#setting-wrapper section .span1{ float: left; }
	#setting-wrapper section .span3{ float: left; width: 322px; margin-left:30px; }
		
	#pos-accordion .accordion-inner .span3{ margin-left:10px; float: left; width:210px; }
	#pos-accordion .accordion-inner .span2{ float: left; width:170px; }
	
	.delivery_takeout_btn_wrapper .ui-button{ width: 44%; height: auto; }
	.delivery_takeout_btn_wrapper .ui-button img{ max-width: 100%; }
}

@media (max-width: 480px) {
	
	.main_container{ width: 100%; }
	
	#back-to-top {
		display: none !important;	
	}
	
	#home-slider {
		margin-left: -20px;
		margin-right: -20px;
	}
	
	#home-slider ul#slide-list {
		display: none;	
	}
	
	#home-slider .container .row {
		width: 100%;	
	}
	
	#home-slider #slidecaption {
		font-size: 28px;	
	}
	
	header .sticky-nav,
	header .sticky-nav.stuck {
		position: relative;	
	}
	
	header .sticky-nav,
	#navigation-mobile,
	.page,
	.page-alternate,
	.map,
	#twitter-feed,
	footer {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;	
	}
	
	.map {
		height: 320px;	
	}
	
	header .sticky-nav #logo {
		margin-left: 0;
	}
	
	header .sticky-nav #menu {
		margin-right: 0;
	}
	
	header .sticky-nav.stuck #menu {
		margin-right: 20px;	
	}
	
	#menu {
		display: none;	
	}
	
	#mobile-nav {
    	display: block;
		float: right;
	}
	
	#menu-nav-mobile {
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: 0;
	}
	
	.work-nav {
		margin-bottom: 30px;	
	}
	
	.type-work {
		background: url(../img/filter-icon.png) no-repeat;
		width: 16px;
		height: 16px;
		display: inline-block;
		text-indent: -9999px;
		margin-bottom: 0;
		position: relative;
		line-height: 10px;
	}
	
	.work-nav #filters li:first-child {
		margin-left: 0;	
	}
	
	.work-nav #filters,
	.work-nav #filters li {
		display: inline-block;
	}
	
	.work-nav #filters li {
		margin:0 10px 0 0;	
	}
	
	#about .profile {
		margin-bottom: 30px;	
	}
	
	#about .profile:last-child {
		margin-bottom: 0;	
	}
	
	#response {
		margin-bottom: 30px;	
	}
	
	.contact-details {
		border-top: 1px dashed #3C3F45;
		padding-top: 30px;
		text-align: center;	
	}
	
	#contact-form .submit,
	#comment-form .submit {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
	}
	
	#social-area #social ul li:first-child,
	#social-area #social ul li {
		margin: 15px;
	}
	
	#social-area #social ul li a {
		width: 50px;
		height: 50px;
	}
	
	#social-area #social ul li a span {
		font-size: 24px;
		line-height: 50px;
	}
	
	#twitter-feed {
		padding-top: 90px;
		padding-bottom: 100px;	
	}
	
	#ticker .tweet_list li {
		font-size: 14px;
		line-height: 22px;
	}
	
	#ticker .tweet_list .tweet_time a {
		font-size: 12px;
		margin-left: 3px;	
	}
	
	.info-block a.button {
    	margin-top: 20px;
    	position: inherit;
		display: block;
	}
	
	.info-text {
		padding-right: 0;	
	}
	
	#ref-thumbs-wrapper .thumbnails > li{ 
		float: left; 
		margin-left:20px; 
	}
	
	#order-status h1{
		left: 18px;
		width:65%;
		font-size: 26px;
	}
	
	#subpage_inner_content .thumbnails .span5{ width: 100%; }
	
	.splash_logo_wrapper,
	.splash_order_wrapper{ width: 100%; }
	
	.splash_logo_wrapper img,
	.splash_order_wrapper img{ max-width: 100%; }
	
	.delivery_takeout_btn_wrapper .ui-button{ width: 44%; height: auto; }
	.delivery_takeout_btn_wrapper .ui-button img{ max-width: 100%; }

	.banner-image-holder h3{ padding: 0; width: 100%; text-align:center; opacity: 1; }
	#banner-wrapper img{ max-width: 100%; }

	#items-thumbs-wrapper h3{
		left: 12%;	
		width: 75%;
	}
	
	#items-thumbs-wrapper > .thumbnails > li{ float: left; margin-left: 12px; }
	
	#restaurants-accordion .accordion-heading .accordion-toggle .rest-name{ width: 100%; }
	#restaurants-accordion .rest-price{ border-left: 0; }
	
	#checkout-wrapper .ui-state-default{ background-position: 0 0; }
	#checkout-wrapper .btn{ width: 100%; margin-bottom: 5px; }
	
	#info-wrapper .label-info{font-size: 10px;}	
	#delivery-location .span4{width: 100%;}
	#delivery-location .span4 img{ max-width: 100%; }
	
	#delivery-location .span1{ width: 100%; }
	#deldestination{ padding: 0; }
	#deldestination li{  display: inline-block; margin: 20px 0; }
	
	#share-wrapper{ width: 100%; }
	
	#thankyou-wrapper h1{ font-size: 45px; }
	#thankyou-wrapper img{ max-width: 100%; }
	#thankyou-wrapper .label-green{ font-size: 20px; }
	
	#pos-accordion .accordion-inner .span3,
	#pos-accordion .accordion-inner .span2{ float: none; margin-left:0; width: 100%;  }
	
	#setting-wrapper section .btn{ float: none; margin-left: 0; width: 100%;  }
	
	#posfu-sticky-nav .header_icons_wrapper .lead{ font-size: 17px; }
	
	
}

@media (max-width: 320px) {
	
	#navigation-mobile li a {
		padding: 20px 0;
	}
	
	.work-nav #filters li a {
		font-size: 12px;
	}
	
	.children .comment {
		padding-left: 0;	
	}
	
	#twitter-feed {
		padding-top: 90px;
		padding-bottom: 120px;	
	}
}


/* Retina Display */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
 	only screen and (-moz-min-device-pixel-ratio: 2),
  	only screen and (-o-min-device-pixel-ratio: 2/1),
  	only screen and (min-device-pixel-ratio: 2),
  	only screen and (min-resolution: 2dppx) {
		
		header #logo a {
			background-image: url(../img/logo_@2x.png);
			background-size: 96px 30px;
		}
		
		.menu-nav {
			background-image: url(../img/menu-mobile_@2x.png);
			background-size: 16px 32px;
		}
		
		.type-work {
			background-image: url(../img/filter-icon_@2x.png);
			background-size: 16px 16px;
		}
		
		.sep .separator {
			background-image: url(../img/seperator_@2x.png);
			background-size: 24px 24px;
		}
	}


